:root {
    --primary: #279eb0;
    --primaryShadow: #00000066;
    --secondary: #FFCE00;
    --white: #fff;
    --black: #000;
    --principalFont: 'Staatliches', cursive;
}

body {
    background-color: var(--primary);
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
}

p {
    font-size: 1.8rem;
    color: var(--white);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secondary);
    font-family: 'Staatliches', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

.header {
    display: flex;
    justify-content: center;
}

.header_logo {
    margin: 3rem 0;
}

.navegacion {
    background-color: var(--primaryShadow);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion_enlace {
    font-family: var(--principalFont);
    color: var(--white);
    font-size: 3rem;
    text-decoration: none;
}

.navegacion_enlace--activo,
.navegacion_enlace:hover {
    color: var(--secondary);
}

.footer {
    background-color: var(--primaryShadow);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer_texto {
    font-family: var(--principalFont);
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.Pets {
    background-color: var(--primaryShadow);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.Pets:hover {
    transform: scale(1.05);
}

.Pets_imagen {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.Breed {
    font-size: 3rem;
    font-family: var(--principalFont);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

@media (min-width: 767px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 767px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .pareja {
        margin-bottom: 1rem; /* Ajusta el espacio entre las tarjetas en dispositivos móviles */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
